@import "~bootstrap/dist/css/bootstrap.css";

article
{
	font-family: "Amazon Ember", Sans-serif;
}

.anchor, .anchor:hover
{
	text-decoration: none !important;
	color: #000000;
}
.anchor:hover{ cursor: pointer; }

.card-title:hover{ color: #c45500; }

.tick{ color: #f7961e; }

.prime{ color: #3191c1; }

