#body {
    width: 1500px;
    margin: 0 auto;
    font-family: "Amazon Ember", Helvetica, sans-serif;
}

img {
    height: 200px;
}

h2 {
    color: #007185;
    position: relative;
    font-size: larger;
    top: -185px;
    right: -220px;
}

.priceDisplay {
    position: relative;
    top: -225px;
    right: -1000px;
    color: #0F1111 !important;
    font-size: large;
    line-height: 24px;
    font-weight: bold;
}

.doge {
    max-width:30px;
    max-height:30px;
    position: relative;
    top: -270px;
    right: -965px;
}