<ul class="container">
    <li class="logo">
        <a href="#">
            <img src="../../assets/logo.png" alt="Amazon Logo" class="amazon-picture">
        </a>

    </li>
    <li class="search-bar">
        <input type="text" width="100" height="100" class="text-area">
        <input type="image" src="../../assets/AmazonSearchIcon.png" class="amazon-search-button">
    </li>
    <li class="cart">
        <a href="">
            <img src="../../assets/shopping-cart-icon-white-11.jpg" alt="cart" class="cart-image">
        </a> Cart
    </li>
</ul>