<div class="container">
    <!-- Left flex item -->
    <img class="left" src="" alt="product img">
    <!-- Middle flex item -->
    <div class="middle">
        <div class="middle-container">
            <h1 class="product-name">Product Name</h1>
            <h4 class="price">$00.00</h4>
            <h3 class="about-item">About this item</h3>
        </div>
    </div>
    <!-- Right flex item -->
    <div class="right">
        <div class="right-container">
            <h4 class="price">$00.00</h4>
            <h4 class="delivery">FREE delivery</h4>
            <h4 class="stock-left">Only 6 left in stock.</h4>
            <div class="quantity-container">
                <label class="quantity-label" for="quantity">Quantity:</label>
                <input class="quantity-input" type="number" name="quantity" id="quantity">
            </div>
            <button class="btn add-to-cart">Add to Cart</button>
            <button class="btn buy-now">Buy Now</button>
        </div>
    </div>
</div>