<div class="container">
    <!-- Left flex item -->
    <div class="left">
		<img class="product-img" src="../../assets/memes/{{ product.picSrc }}" alt="product img">
    </div>
    
    <!-- Middle flex item -->
    <div class="middle">
        <div class="middle-container">
            <h1 class="product-name">{{ product.name }}</h1>
            <div class="rating-container">
                <img class="rating-img" src="../../assets/5StarRating.png" alt="rating">
				<span class="num-of-reviews">{{ product.rating }} ratings</span>
            </div>

            <div class="price-container">
                <span class="price-label"><h3>Price:</h3></span>
                <img class="dogecoin-img" src="../../assets/dogecoin.jpeg" alt="dogecoin" width="15px">
				<h4 class="price">{{ product.price }}</h4>
            </div>
            <h3 class="about-item">About this item</h3>
            <ul class="list">
                <li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, rerum!</li>
                <li class="list-item">Lorem ipsum dolor sit amet.</li>
                <li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, rerum!</li>
                <li class="list-item">Lorem ipsum dolor sit amet.</li>
                <li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
        </div>
    </div>
    <!-- Right flex item -->
    <div class="right">
        <div class="right-container">
            <div class="price-container">
                <img class="dogecoin-img" src="../../assets/dogecoin.jpeg" alt="dogecoin" width="15px">
				<h4 class="price">{{ product.price }}</h4>
            </div>
            <h4 class="delivery">FREE delivery</h4>
            <h4 class="stock-left">Only 6 left in stock.</h4>
            <div class="quantity-container">
                <label class="quantity-label" for="quantity">Quantity:</label>
                <input class="quantity-input" #qty type="number" name="quantity" id="quantity">
            </div>
            <button class="btn add-to-cart" (click)="addToCart()">Add to Cart</button>
            <button class="btn buy-now">Buy Now</button>
            <h4 class="sold-and-fulfilled">Sold and Fulfilled by Scuffazon</h4>
        </div>
    </div>
</div>
